@import './reset.scss';
@import './header.scss';
@import './footer.scss';
@import './main.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
  font-family: Lato;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #443e3e;
}

::-webkit-scrollbar-thumb {
  background-color: #2c292b;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 33, 33);
}