.textbook-items{
    height: calc(100vh - 120px);
}
.chapter1{
    display: flex;
    justify-content: space-around;
}

.chapterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chapterContainer button{
    margin-bottom: 15px;
    margin-right: 15px;
    text-decoration: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    width: 134px;
    height: 38px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.chapterContainer button:hover {
    text-decoration: none;
    background-color: rgb(21, 101, 192);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}
.items{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
i{
    font-style: italic;
}
b{
    font-weight: bold;
    color: black;
}
.pagination{
    margin: 0 auto;
}
.img{
    height: 25px;
    width: 25px;
}
.game{
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 10px;
}
